@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: aqua;
    font-family: 'Roboto Condensed', sans-serif;
}
header:hover {
    background-color: bisque;
}
h1 {
    border: 1px solid #000;
    margin: 10px;
    border-radius: 10px;
}
main {
    display: flex;
    margin: 0px 50px;
    flex-wrap: wrap; 
}
section {
    background-color: violet;
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
input {
    text-align: center;
}